.dropdowns {
  position: sticky;
  top: 0;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.dropdown-button {
  background-color: #f1f1f1;
  color: black;
  border: none;
  cursor: pointer;
  width: 100%;
}

.dropdown-button:hover, .dropdown-button:focus {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.showing {
  display: block;
}

