body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 33vw;
  /* margin: 0 600px; */
}

.frame {
  width: 100vw;
  height: calc(100vh - 48px);
  overflow: hidden;
  position: relative;
}

.img-container {
  position: absolute;
  width: 5400px;
}

.img-container:first-child {
  margin-left: 4px;
}

.dot-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}